<div class="container clearfix text-center">
    <h2 class="title">{{ 'index.packages.title' | translate }}</h2>

    <div class="line d-inline-block mt-3"></div>

    <section class="packages col-12">
        <div class="package mt-4">
            <div class="content">
                <div class="header">
                    <h4 class="title">
                        {{'index.packages.options.0.title' | translate}}
                    </h4>
                    <div class="price">
                        <span class="number">{{'index.packages.options.0.cost.number' | translate}}</span>
                        <span class="symbol">{{'index.packages.options.0.cost.symbol' | translate}}</span>
                    </div>
                </div>

                <ul class="items">
                    <li class="item">{{'index.packages.options.0.items.0' | translate}}</li>
                    <li class="item">{{'index.packages.options.0.items.1' | translate}}</li>
                    <li class="item">{{'index.packages.options.0.items.2' | translate}}</li>
                    <li class="item">{{'index.packages.options.0.items.3' | translate}}</li>
                    <li class="item">{{'index.packages.options.0.items.4' | translate}}</li>
                </ul>
                
                <div class="footer">
                    <div class="contact">
                        {{'index.packages.contact' | translate}}
                    </div>
                </div>
            </div>
        </div>

        
        <div class="package">
            <div class="content">
                <div class="header">
                    <h4 class="title">
                        {{'index.packages.options.1.title' | translate}}
                    </h4>
                    <div class="price">
                        <span class="number">{{'index.packages.options.1.cost.number' | translate}}</span>
                        <span class="symbol">{{'index.packages.options.1.cost.symbol' | translate}}</span>
                    </div>

                    <div class="best">
                        {{ 'index.packages.best' | translate}}
                    </div>
                </div>

                <ul class="items">
                    <li class="item">{{'index.packages.options.1.items.0' | translate}}</li>
                    <li class="item">{{'index.packages.options.1.items.1' | translate}}</li>
                    <li class="item">{{'index.packages.options.1.items.2' | translate}}</li>
                    <li class="item">{{'index.packages.options.1.items.3' | translate}}</li>
                    <li class="item">{{'index.packages.options.1.items.4' | translate}}</li>
                </ul>
                
                <div class="footer">
                    <div class="contact">
                        {{'index.packages.contact' | translate}}
                    </div>
                </div>
            </div>
        </div>

        
        <div class="package mt-4">
            <div class="content">
                <div class="header">
                    <h4 class="title">
                        {{'index.packages.options.2.title' | translate}}
                    </h4>
                    <div class="price">
                        <span class="number">{{'index.packages.options.2.cost.number' | translate}}</span>
                        <span class="symbol">{{'index.packages.options.2.cost.symbol' | translate}}</span>
                    </div>
                </div>

                <ul class="items">
                    <li class="item">{{'index.packages.options.2.items.0' | translate}}</li>
                    <li class="item">{{'index.packages.options.2.items.1' | translate}}</li>
                    <li class="item">{{'index.packages.options.2.items.2' | translate}}</li>
                    <li class="item">{{'index.packages.options.2.items.3' | translate}}</li>
                    <li class="item">{{'index.packages.options.2.items.4' | translate}}</li>
                </ul>
                
                <div class="footer">
                    <div class="contact">
                        {{'index.packages.contact' | translate}}
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>