<section class="additional col-12 p-0 pt-5 pb-5 text-center float-left">
    <div class="container">
        <h1 class="col-12 text-center scroll-reveal-100">{{'alquiler.title' | translate}}</h1>
        <img class="d-inline-block pb-5" src="/assets/line-box.png">


        <p class="text col-12 float-left text-center pb-3 scroll-reveal-300">        
            {{'alquiler.text1' | translate}}
        </p>

        <div class="col-12 p-0 pb-5 scroll-reveal-300">
            <button [routerLink]="['rental']" type="button" class="btn btn-primary d-inline-block">{{'index.packages.more' | translate}}</button>
        </div>

    </div>
</section>


<div class="clearfix"></div>