<div id="carouselExampleIndicators" class="carousel slide mt-5 pt-5 mb-5 pb-5" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
          <app-view 
              [active]="true"
              [image]="'/assets/views/apartments/photo1.jpeg'"
              [text]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed adipiscing diam donec adipiscing tristique risus nec feugiat in. Felis eget nunc lobortis mattis aliquam faucibus purus in massa. Diam quis enim lobortis scelerisque.'"
              [title]="'AMAZING & UNIQUE 2BD BTH - SOL, CITY CENTER'"
              [photo]="'/assets/views/people/image1.jpg'"
              [score]="'4.0'"
              [name]="'Maria'"
              [surname]="'Rodriguez'"
          ></app-view>
        </div>
        <div class="carousel-item">
          <app-view 
            [active]="false"
            [image]="'/assets/views/apartments/photo2.jpeg'"
            [text]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed adipiscing diam donec adipiscing tristique risus nec feugiat in. Felis eget nunc lobortis mattis aliquam faucibus purus in massa. Diam quis enim lobortis scelerisque.'"
            [title]="'AMAZING & UNIQUE 2BD BTH - SOL, CITY CENTER'"
            [photo]="'/assets/views/people/image2.jpg'"
            [score]="'4.7'"
            [name]="'Adrian'"
            [surname]="'Ramirez'"
          ></app-view>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>