<section class="views col-12 p-0 float-left pb-5 pt-2">

<div id="carouselExampleIndicators" class="carousel carousel-views slide mt-5 pb-5" data-ride="carousel-views">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
          <app-view 
              [active]="true"
              [image]="'/assets/views/apartments/photo1.jpeg'"
              [text]="'Francisco es muy amigable, servicial, estuvo pendiente de mi llegada, me atendió perfectamente y me mostró él mismo donde estaba el tranvía junto a la casa. Es una persona con la que poder hablar de todo. Ha viajado y es un ser muy bonito. Volveré sin duda a repetir en su casa. 100% recomendable.'"
              [title]="'MI CASA ES TU CASA'"
              [photo]="'/assets/views/people/image1.png'"
              [name]="'Rocío'"
              [surname]="'2018'"
          ></app-view>
        </div>
        <div class="carousel-item">
          <app-view 
            [active]="false"
            [image]="'/assets/views/apartments/photo2.jpeg'"
            [text]="'Casa di Francisco è perfetta, anzi superiore alle aspettative: posizione rispetto alla città ( si trova poco dopo le Torres de Serrano e la zona è tranquillissima), la casa è nuova, pulita e ben organizzata di tutti i confort e necessario, poi il terrazzo una chicca, peccato che la pioggia (insolita per Valencia ahimè) m l\'abbia fatta godere solo per una colazione; sotto casa c\'è un supermercato, farmacia, insomma per soggiorni anche lunghi va benissimo. E infine, ma Francisco: l\'host perfetto, disponibile, risposte sempre pronte ed esaustive, consigli validissimi, per cui non posso che stra consigliarlo! Grazie '"
            [title]="'MI CASA ES TU CASA'"
            [photo]="'/assets/views/people/image2.png'"
            [name]="'Anita'"
            [surname]="'2018'"
          ></app-view>
        </div>
        <div class="carousel-item">
          <app-view 
            [active]="false"
            [image]="'/assets/views/apartments/photo3.jpeg'"
            [text]="'Francisco is a nice person, really talkative and welcoming ! The appartment was perfect with fresh air, a good location and all you need, I recommend it :)'"
            [title]="'MI CASA ES TU CASA'"
            [photo]="'/assets/views/people/image3.png'"
            [name]="'Steven'"
            [surname]="'2018'"
          ></app-view>
        </div>
        <div class="carousel-item">
          <app-view 
            [active]="false"
            [image]="'/assets/views/apartments/photo1.jpeg'"
            [text]="'Un alojamiento impecable, buen rollo con el anfitrión, simpático , agradable y bien ubicado, lo recomiendo totalmente'"
            [title]="'MI CASA ES TU CASA'"
            [photo]="'/assets/views/people/image4.png'"
            [name]="'Alvaro'"
            [surname]="'2018'"
          ></app-view>
        </div>
        <div class="carousel-item">
          <app-view 
            [active]="false"
            [image]="'/assets/views/apartments/photo2.jpeg'"
            [text]="'Francisco é extremamente atento a detalhes e faz de tudo para te fazer sentir em casa. Para quem não fala outro idioma que o portugues, ele tem um portugues fluentissimo. Otima experiencia, não se arrependerá.'"
            [title]="'MI CASA ES TU CASA'"
            [photo]="'/assets/views/people/image5.png'"
            [name]="'Lawrence'"
            [surname]="'2018'"
          ></app-view>
        </div>
        <div class="carousel-item">
          <app-view 
            [active]="false"
            [image]="'/assets/views/apartments/photo3.jpeg'"
            [text]="'Francisco has a nice apartment however his hospitality is outstanding. I would wholeheartedly highly recommend staying at Francisco\'s place.'"
            [title]="'MI CASA ES TU CASA'"
            [photo]="'/assets/views/people/image6.png'"
            [name]="'Darryl'"
            [surname]="'2018'"
          ></app-view>
        </div>
        <div class="carousel-item">
          <app-view 
            [active]="false"
            [image]="'/assets/views/apartments/photo4.jpeg'"
            [text]="'It was amazing! everything was perfect and he is soooo friendly and kind. Thank you Francisco I hope we\'ll meet soon cause it was my best time in Spain ever'"
            [title]="'Apartamento de diseño en Benimaclet'"
            [photo]="'/assets/views/people/image7.png'"
            [name]="'Bálint'"
            [surname]="'2018'"
          ></app-view>
        </div>
        <div class="carousel-item">
          <app-view 
            [active]="false"
            [image]="'/assets/views/apartments/photo5.jpeg'"
            [text]="'Our stay in Valencia was wonderful! The apartment was well connected to public transport, super close to the city, clean, and cosy! Thank you for a lovely stay Francisco.'"
            [title]="'Apartamento de diseño en Benimaclet'"
            [photo]="'/assets/views/people/image8.png'"
            [name]="'Rebecca'"
            [surname]="'2018'"
          ></app-view>
        </div>
        <div class="carousel-item">
          <app-view 
            [active]="false"
            [image]="'/assets/views/apartments/photo6.jpeg'"
            [text]="'Todo correcto, el chico muy amable y atento en todo momento. El apartamento tal cual se ve en las fotos y muy limpio. Un lugar para volver a repetir '"
            [title]="'Apartamento de diseño en Benimaclet'"
            [photo]="'/assets/views/people/image9.png'"
            [name]="'Saida'"
            [surname]="'2019'"
          ></app-view>
        </div>
    </div>
    <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> -->
</div>
</section>

<div class="clearfix"></div>