$colorBorde: solid 1px rgb(226, 226, 226);
$colorCeleste: rgb(0, 169, 224);
$colorGrisOscuro: rgb(109, 110, 112);
$colorGrisClaro: rgb(166, 168, 171);

.title-service{
    float: left;
    background-attachment: fixed;
    background-image: url('/assets/packages/bg-completo.jpeg');
    background-size: 100% auto;
    background-position: center;
}
.title-service .gradient{
    float: left;
    background-color: rgba(0,0,0,0.6);
    min-height: 200px;
}

.title-service h1{
    float: left;
    font-family: 'gilroy-ligth', 'Lexend Giga', sans-serif;
    color: white;
    text-transform: uppercase;
    margin-top: 75px;
}

.packages{
    float: left;
    padding: 60px 0;
}

.packages .package{
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0px;
    min-width: 400px;
    margin: 0 50px;
    border: 1px solid rgba(0,0,0,0);
    cursor: pointer;
}

.package-complete{    
    background-image: url('/assets/ribbon_blue_right_top.png');
    background-repeat: no-repeat;
    background-position-y:  -1px;
    background-position-x:  right;
}

.packages .package:hover{
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid $colorCeleste;
    text-decoration: none;
    transition: 2s;
}

.packages .package-checkin{
    margin-bottom: -50px !important;
    padding-top: 2px;
    padding-bottom: 2px;
}

.packages .package .icon{
    display: inline-block;
    font-size: 23px;
    padding: 15px;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    color: $colorCeleste;
    border: 2px solid $colorCeleste;
    margin-bottom: 20px;
    margin-top: 30px;
}

.packages .package .title{
    font-family: 'gilroy-ligth', 'Lexend Giga', sans-serif;
    font-size: 23px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    color: #111;
}

.packages .package .items{
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}
.packages .package .items .item{
    width: 100%;
    font-family: 'Inria Sans', sans-serif;
    color: rgb(0, 0, 0);
    margin-bottom: 13px;
    line-height: 29px;
    font-size: 17px;
}
.packages .package .items .item.item-check{
    color: #222;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0); 
}
.packages .package .items .item::first-letter{
    text-transform: capitalize;
}
.packages .package .items .item::first-letter{
    text-transform: capitalize;
}

.packages .package .data{
    width: 90%;
    padding: 0 20px;
    margin-bottom: 20px;
}
.packages .package .data .price{
    font-size: 55px;
    color: rgb(39, 39, 39);
    display: inline-block;
}
.packages .package .data .price .number{
    display: inline-block;
    font-family: 'Lexend Giga', sans-serif;
}
.packages .package .data .price .symbol{
    display: inline-block;
    margin-top: 16px;
    font-size: 40px;
}
.packages .package .data .price .unit{
    display: block;
    clear: both;
    text-align: left !important;
    margin-top: -20px;
    font-size: 14px;
}
.packages .package .data .price .unit-check{
    margin-top: 0px;
    margin-bottom: -15px;
}
.packages .package .data .contact{
    float: right;
    margin: 15px 0;
    margin-top: 25px;
    padding: 10px 25px;
    text-align: center;
    background-color: $colorCeleste;
    color: white;
    text-transform: uppercase;
    border-radius: 1px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.445);
}
.packages .package .data .contact:hover{
    transition: 0.5s;
    background-color: rgb(0, 122, 163);
}
.more{
    cursor: pointer;
}

.modal-body{
    text-align: center;
}
.option-phone{
    font-size: 45px !important;
}
.option{
    font-size: 50px;
    display: inline-block;
    margin: 0 25px;
}


@media only screen and (max-width: 1410px) {   
}

@media only screen and (max-width: 1199px) { 
    .title-service{
        background-size: auto 100%;
    } 
    .packages .package{
        min-width: 380px;
        margin: 0 30px;
    }
}

@media only screen and (max-width: 991px) {	
    .container{
        max-width: 100% !important;
    }
    .packages .package{
        min-width: 350px;
        margin: 0 5px;
    }
    .packages .package .items .item{
        font-size: 15px;
    }
}

@media only screen and (max-width: 780px) {
    h1{
        font-size: 25px;
        margin-top: 20px !important;
    }
    .packages .package{
        min-width: 500px;
        margin-bottom: 25px;
    }
    .packages .package .items .item{
        font-size: 15px;
    }
}

@media only screen and (max-width: 575px) {
    .container{
        padding: 0 !important;
    }
    .packages .package{
        min-width: 95%;
    }
}

@media only screen and (max-width: 360px) {
}
