
<div class="container">
    <div class="view col-12 p-0 mt-3">
        <div class="image" [style.backgroundImage]="'url('+image+')'">
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
        </div>
        <div class="info">
            <div class="title col-12 p-0">
                <i class="fas fa-comment mr-2"></i>
                <span>{{title}}</span>
            </div>
            <div class="text">
                <div class="op text-secondary">
                    <img *ngIf="flag" [attr.src]="flag" class="mr-2"/>
                    {{ 'index.views.subtitle' | translate}}:
                </div>
                <p>{{text}}</p>
            </div>
            <div class="person col-12 p-0">
                <div class="photo"><img [attr.src]="photo" /></div>
                <div class="name">{{name}}<br />{{surname}}</div>
                <div class="score">
                    <i *ngFor="let i of [1,2,3,4,5]" class="fas fa-star mr-1"></i>
                </div>
            </div>
        </div>
    </div>
</div>
