<section class="footers bg-light pb-3">
   <div class="container pt-5">
       <div class="row">
           <div class="col-xs-12 col-sm-6 col-md-4 footers-one">
    		    <div class="footers-logo">
    		        <img src="assets/logo/logo.png" alt="Logo" >
    		    </div>
    		    <div class="footers-info mt-3">
    		        <p>
						{{ 'header.slogan.0' | translate }}
						<span class="ocultar">{{ 'header.slogan.1' | translate }}</span>
					</p>
    		    </div>
    		    <div class="social-icons text-dark"> 		  
					<div class="redes float-left mr-1 mr-md-0 text-dark">
						<a [href]="social.facebook.url" class="text-dark mr-2 mr-md-2" target="_blank"><i class="fab fa-facebook-square"></i></a>
						<a [href]="social.instagram.url" class="text-dark mr-2 mr-md-2" target="_blank"><i class="fab fa-instagram"></i></a>
						<a 
						  [href]="'https://api.whatsapp.com/send?phone='+social.whatsapp.cod.int+''+social.whatsapp.cod.nac+''+social.whatsapp.number" 
						  class="text-dark" target="_blank">
							<i class="fab fa-whatsapp"></i>
						</a>
					</div>
	        	</div>
    		</div>
    	    <div class="col-xs-12 col-sm-6 col-md-2 footers-one d-none d-md-inline-block">
    		    <ul class="list-unstyled text-right ">
					<li><a [routerLink]="['/',lang]">Inicio</a></li>
				</ul>
    	    </div>
    	    <div class="col-xs-12 col-sm-6 col-md-2 footers-two d-none d-md-inline-block">
    		    <ul class="list-unstyled text-right">
					<li><a [routerLink]="['services']">Servicios</a></li>
    			</ul>
    	    </div>
    	    <div class="col-xs-12 col-sm-6 col-md-2 footers-three d-none d-md-inline-block">
    		    <ul class="list-unstyled text-right">
					<li><a [routerLink]="['co-host']">Co-Host</a></li>
				</ul>
    		</div>
    	   <div class="col-xs-12 col-sm-6 col-md-2 footers-four d-none d-md-inline-block">
				<ul class="list-unstyled text-right">
					<li><a [routerLink]="['contact']">Contacto</a></li>
				</ul>
    		</div>    		
       </div>
   </div>
</section>
<section class="disclaimer bg-light border d-none">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 py-2 text-md-left text-center">
                <small>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec et odio pellentesque diam. Facilisis mauris sit amet massa vitae tortor condimentum lacinia. Integer feugiat scelerisque varius morbi enim. Suspendisse in est ante in nibh mauris.
				</small>
            </div>
        </div>
    </div>
</section>
<section class="copyright border">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 pt-3">
                <p class="text-muted text-right">
					<a class="text-light" href="https://xeronweb.com">© 2020 Rentaleazy. Hecho por Xeron Web</a>
				</p>
            </div>
        </div>
    </div>
</section>