<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<section class="footers bg-light pb-3">
   <div class="container pt-5">
       <div class="row">
           <div class="col-xs-12 col-sm-6 col-md-4 footers-one">
    		    <div class="footers-logo">
    		        <img src="assets/logo/logo.png" alt="Logo" style="width:120px;">
    		    </div>
    		    <div class="footers-info mt-3">
    		        <p>
						{{ 'header.slogan.0' | translate }}
						<span class="ocultar">{{ 'header.slogan.1' | translate }}</span>
					</p>
    		    </div>
    		    <div class="social-icons text-dark"> 		  
					<div class="redes float-left mr-1 mr-md-0 text-dark">
						<a [href]="social.facebook.url" class="text-dark mr-2 mr-md-2" target="_blank"><i class="fab fa-facebook-square"></i></a>
						<a [href]="social.instagram.url" class="text-dark mr-2 mr-md-2" target="_blank"><i class="fab fa-instagram"></i></a>
						<a 
						  [href]="'https://api.whatsapp.com/send?phone='+social.whatsapp.cod.int+''+social.whatsapp.cod.nac+''+social.whatsapp.number" 
						  class="text-dark" target="_blank">
							<i class="fab fa-whatsapp"></i>
						</a>
					</div>
	        	</div>
    		</div>
    	    <div class="col-xs-12 col-sm-6 col-md-2 footers-one">
    	    </div>
    	    <div class="col-xs-12 col-sm-6 col-md-2 footers-two">
    		    <h5>Information </h5>
    		    <ul class="list-unstyled">
    			 <li><a href="maintenance.html">Register Now</a></li>
    			 <li><a href="contact.html">Advice</a></li>
    			 <li><a href="about.html">Videos</a></li>
    			 <li><a href="about.html">Blog</a></li>
    			 <li><a href="about.html">Services</a></li>
    			</ul>
    	    </div>
    	    <div class="col-xs-12 col-sm-6 col-md-2 footers-three">
    		</div>
    	   <div class="col-xs-12 col-sm-6 col-md-2 footers-four">
    		    <h5>Explore </h5>
    		    <ul class="list-unstyled">
    			 <li><a href="maintenance.html">News</a></li>
    			 <li><a href="contact.html">Sitemap</a></li>
    			 <li><a href="about.html">Testimonials</a></li>
    			 <li><a href="about.html">Feedbacks</a></li>
    			 <li><a href="about.html">User Agreement</a></li>
    			</ul>
    		</div>    		
       </div>
   </div>
</section>
<section class="disclaimer bg-light border">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 py-2">
                <small>
                   Disclaimer: Element Limited is only an intermediary offering its platform to facilitate the transactions between Seller and Customer/Buyer/User and is not and cannot be a party to or control in any manner any transactions between the Seller and the Customer/Buyer/User. All the offers and discounts on this Website have been extended by various Builder(s)/Developer(s) who have advertised their products. Element is only communicating the offers and not selling or rendering any of those products or services. It neither warrants nor is it making any representations with respect to offer(s) made on the site. Element Limited shall neither be responsible nor liable to mediate or resolve any disputes or disagreements between the Customer/Buyer/User and the Seller and both Seller and Customer/Buyer/User shall settle all such disputes without involving Element Limited in any manner.
               </small>
            </div>
        </div>
    </div>
</section>
<section class="copyright border">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 pt-3">
                <p class="text-muted">© 2018 xyz Software Pvt. Ltd.</p>
            </div>
        </div>
    </div>
</section>