.footers a {
    color:#ffffff !important;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat', cursive;
}
.footers p {color:#ffffff !important;}
.footers ul {line-height:30px;}

.footers-logo img{
    width: 350px;
}
.footers, .disclaimer {
    background-color: #00A9E0 !important;
    color: #ffffff !important;
    border: 0px solid #EEE !important;
}
.copyright{
    background-color: rgb(10, 59, 71) !important;
    color: #eeeeee !important;
    border: 0px solid #EEE !important;
    border-top: 1px solid rgb(0, 37, 46) !important;
    font-size: 14px;
}
header .slogan, header .info{
    padding-top: 6px;
    font-size: 10px;
    font-weight: normal;
    margin-bottom: 0;
}


header .info.telefono{
    padding-top: 3.5px;
    font-size: 5px !important;
}
header .info.telefono a{
    font-size: 5px !important;
}

.redes{
    font-size: 20px;
}
.footers-four ul{
    width: 100%;
    float: right;
}
.footers-four ul li{
    text-align: right;
    float: right;
    margin: 32px 20px;
    border-bottom: solid 2px rgba(238, 238, 238, 0);
}

.footers-four ul li:hover{    
    border-bottom: solid 2px #EEE;
    transition: 0.5s;
}

@media only screen and (max-width: 1230px) {	
    
    .footers-four ul li{
        font-size: 15px;
    }

}

@media only screen and (max-width: 991px) {	
    .footers-four ul li{
        margin: 32px 5px;
        font-size: 13px;
    }
    
}


@media only screen and (max-width: 771px) {	
    .footers-logo{
        width: 80%;
        margin: 5px 10%;
        text-align: center;
    }
    
    .footers-logo img{
        width: 100%;
        display: inline-block;
    }

    .footers-info{
        text-align: center;
    }
    
    .social-icons{
        text-align: center;
    }

    .social-icons .redes{
        text-align: center;
        width: 100%;
    }    
}
