
$colorCeleste: rgb(0, 169, 224);
$colorGrisOscuro: rgb(109, 110, 112);
$colorGrisClaro: rgb(166, 168, 171);

.additional{
    background-color: #EFEFEF;
    padding-bottom: 50px;
}

.additional h1{
    float: left;
    font-family: 'gilroy-ligth', 'Lexend Giga', sans-serif;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    margin-top: 75px;
}

.extra-service{
    width: 240px;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.extra-service:hover{
    background-color: white;
    transition: 0.5s;
    text-decoration: none;
}

.extra-service .icon{
    display: inline-block;
    font-size: 23px;
    padding: 15px;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    color: $colorCeleste;
    border: 2px solid $colorCeleste;
    margin-bottom: 20px;
}

.extra-service .subtitle{
    font-size: 17px;
    text-transform: uppercase;
    color: $colorGrisClaro;
    font-weight: bold;
    font-family: 'gilroy-ligth', 'Lexend Giga', sans-serif;
}

.extra-service .title{
    font-size: 21px;
    text-transform: uppercase;
    color: $colorCeleste;
    font-weight: bold;
}



@media only screen and (max-width: 1410px) {    
}

@media only screen and (max-width: 1199px) { 
}

@media only screen and (max-width: 991px) {	
}

@media only screen and (max-width: 780px) {
    .additional h1{
        font-size: 30px;
    }    
    .extra-service{
        width: 150px;
        padding: 5px;
    }
    
    .extra-service .icon{
        font-size: 20px;
    }

    .extra-service .subtitle{
        font-size: 12px;
    }

    .extra-service .title{
        font-size: 15px;
    }
}

@media only screen and (max-width: 575px) {
}

@media only screen and (max-width: 360px) {
}
