<section class="additional col-12 p-0 text-center float-left">
    <h1 class="col-12 text-center scroll-reveal-100">{{'index.additional.title' | translate}}</h1>
    <img class="d-inline-block pb-5" src="/assets/line-box.png">


    <div class="list col-12 float-left p-0 pb-5">
        <a [routerLink]="[recoil+'services/extras/clean']"  class="extra-service scroll-reveal-300">
            <div class="icon"><i class="fas fa-broom"></i></div>
            <div class="subtitle">{{'index.additional.options.0.subtitle' | translate}}</div>
            <h3 class="title">{{'index.additional.options.0.title' | translate}}</h3>
        </a>
        <a [routerLink]="[recoil+'services/extras/maintenance']" class="extra-service scroll-reveal-300">
            <div class="icon"><i class="fas fa-tools"></i></div>
            <div class="subtitle">{{'index.additional.options.1.subtitle' | translate}}</div>
            <h3 class="title">{{'index.additional.options.1.title' | translate}}</h3>
        </a>
        <a [routerLink]="[recoil+'services/extras/bath']"  class="extra-service scroll-reveal-300">
            <div class="icon"><i class="fas fa-hand-sparkles"></i></div>
            <div class="subtitle">{{'index.additional.options.2.subtitle' | translate}}</div>
            <h3 class="title">{{'index.additional.options.2.title' | translate}}</h3>
        </a>
        <a [routerLink]="[recoil+'services/extras/photo']"class="extra-service scroll-reveal-300">
            <div class="icon"><i class="fas fa-camera"></i></div>
            <div class="subtitle">{{'index.additional.options.3.subtitle' | translate}}</div>
            <h3 class="title">{{'index.additional.options.3.title' | translate}}</h3>
        </a>
    </div>


</section>


<div class="clearfix"></div>

