<section class="additional col-12 p-0 text-center">
    <h1 class="col-12 text-center scroll-reveal-100">{{'index.additional.title' | translate}}</h1>
    <img class="d-inline-block" src="/assets/line-box.png">


    <div class="list col-12 p-0 pt-5 d-inline-block">
        <div class="extra-service scroll-reveal-300">
            <div class="icon"><i class="fas fa-broom"></i></div>
            <div class="subtitle">Servicio</div>
            <h3 class="title">de Limpieza</h3>
        </div>
        <div class="extra-service scroll-reveal-300">
            <div class="icon"><i class="fas fa-tools"></i></div>
            <div class="subtitle">Puesta a Punto</div>
            <h3 class="title">mantenimiento</h3>
        </div>
        <div class="extra-service scroll-reveal-300">
            <div class="icon"><i class="fas fa-hand-sparkles"></i></div>
            <div class="subtitle">Alquiler</div>
            <h3 class="title">Ropa Cama/Baño</h3>
        </div>
        <div class="extra-service scroll-reveal-300">
            <div class="icon"><i class="fas fa-tools"></i></div>
            <div class="subtitle">Diseño y</div>
            <h3 class="title">Fotografía</h3>
        </div>
    </div>


</section>


<div class="clearfix"></div>

