<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Rentaleazy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']">{{'header.index' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['packages']">{{'header.packages' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['services']">{{'header.services' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['opinions']">{{'header.opinions' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['co-host']">{{'header.co-host' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['contact']">{{'header.contact' | translate}}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Seleccionar idioma
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="setLanguage('es')">
                <img classs="pr-1" src="assets/flags/spain.jpg" />
                <span classs="pl-1"> Español</span>
            </a>
            <a class="dropdown-item" (click)="setLanguage('en')">
                <img classs="pr-1" src="assets/flags/uk.jpg" />
                <span classs="pl-1"> English</span>
            </a>
            <a class="dropdown-item" (click)="setLanguage('it')">
                <img classs="pr-1" src="assets/flags/italy.jpg" />
                <span classs="pl-1"> Italiano</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>