<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="slide col-12 p-0 m-0">
        <img class="d-block w-100" src="assets/carousel/bg-home.jpg" alt="First slide">

        <div class="center d-inline-block text-center">
          <h1>{{ 'index.carrousel.title' | translate }}</h1>
          <div class="line d-inline-block"></div>
          <h2>{{ 'index.carrousel.subtitle' | translate }}</h2>
          <div class="clearfix"></div>
          <a href="#" class="btn btn-light active mt-1 d-md-none" role="button" aria-pressed="true">
            {{'index.carrousel.button' | translate}}
          </a>
        </div>

      </div>  
    </div>
  </div>
</div>