<section class="about pt-5 pb-5">
    <div class="container clearfix pt-5 pb-5 text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sem integer vitae justo eget magna fermentum. Viverra adipiscing at in tellus.
    </div>
    <div class="iconos text-center pb-5 ">
        <i class="fas fa-home ml-4 mr-4"></i>
        <i class="fas fa-key ml-4 mr-4"></i>
        <i class="fas fa-building ml-4 mr-4"></i>
    </div>
</section>
