<section class="about pt-5 pb-5">
    <div class="container clearfix pt-5 pb-5 text-center">
        <p>Somos un equipo de profesionales formados en hotelería, expertos en gestión de reservas, posicionamiento en múltiples plataformas y atención al cliente.
        Ofrecemos todo tipo de servicios y gestión integral para tu inmueble.
        Con el objetivo de sacar el mayor rendimiento a tu alquiler inmobiliario, conseguir una mayor optimización de precios y aumentar tus ingresos.</p>
        <p><i>Nos enfocamos en obtener la máxima rentabilidad de tu alquiler inmobiliario, sin que tengas que preocuparte por nada.</i></p>
    </div>
    <div class="iconos text-center pb-5 ">
        <i class="fas fa-home ml-4 mr-4"></i>
        <i class="fas fa-key ml-4 mr-4"></i>
        <i class="fas fa-building ml-4 mr-4"></i>
    </div>
</section>
