$colorBorde: solid 1px rgb(226, 226, 226);
$colorCeleste: rgb(0, 169, 224);
$colorGrisOscuro: rgb(109, 110, 112);
$colorGrisClaro: rgb(166, 168, 171);

.services{
    width: 100%;
    background-image: url('/assets/textures/gray.jpg');
}

.title{    
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    margin-top: 40px;
}

.line{
    border-color: #666;
}

.packages{
    width: 100%;
}

.packages .package{
    font-family: 'Montserrat', sans-serif;
    width: 33%;
    padding: 20px;
    float: left;
}
.packages .package:hover{
    padding: 12px 20px;
    transition: 0.5s;
    margin-bottom: 16px !important;
}
.packages .package .content{
    width: 100%;
    border: $colorBorde;
    border-top: solid 5px rgb(22, 22, 22);
    border-radius: 10px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 10px 17px -9px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 10px 17px -9px rgba(0,0,0,0.12);
    box-shadow: 0px 10px 17px -9px rgba(0,0,0,0.12);
}
.packages .package .top{
    border-top: solid 5px $colorCeleste;
    position: relative;
}
.packages .package .top .top-icon{
    position: absolute;
    top: 0;
    right: 0;
}

.packages .package .header{
    width: 100%;
    margin-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: $colorBorde;
}
.packages .package .header .title{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 25px;
}
.packages .package .header .price{
    width: 100%;
    font-family: 'Inria Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 30px;
    color: $colorCeleste;
}
.packages .package .header .price .symbol{
    font-size: 18px;
    padding-left: 3px;
}

.packages .package .header .best{    
    width: 50%;
    margin: 0px 25%;
    margin-top: 20px;
    padding: 3px;
    text-align: center;
    background-color: $colorCeleste;
    color: white;
    border-radius: 20px;
    font-size: 13px;
}

.packages .package .items{
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
.packages .package .items .item{
    width: 100%;
    text-align: center;
    font-family: 'Inria Sans', sans-serif;
    color: rgb(71, 71, 71);
    margin-bottom: 13px;
    font-size: 17px;
}
.packages .package .items .item::first-letter{
    text-transform: capitalize;
}
.packages .package .items .item::first-letter{
    text-transform: capitalize;
}

.packages .package .footer{
    border-top: $colorBorde;
    margin-top: 30px;
}

.packages .package .footer .contact{
    width: 50%;
    margin: 15px 25%;
    padding: 10px 3px;
    text-align: center;
    background-color: $colorCeleste;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
}
.packages .package .footer .contact:hover{
    transition: 0.5s;
    background-color: rgb(0, 122, 163);
}


@media only screen and (max-width: 1410px) {    
}

@media only screen and (max-width: 1199px) { 
}

@media only screen and (max-width: 991px) {	
    .packages .package{
        width: 100%;
        padding: 0px !important;
        margin: 0px !important;
        margin-bottom: 20px !important;
    }
    .packages .package:hover{
        padding: 0px;
        transition: 0.5s;
    }

    .packages{
        float: left;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 575px) {
}

@media only screen and (max-width: 360px) {
}
