<section class="services mt-0 mt-md-5">
  <div class="container clearfix text-center">
    <h2 class="title float-left d-inline-block d-md-none">{{ 'index.packages.title' | translate }}</h2>

    <div class="line mt-1 d-inline-block d-md-none"></div>

    <section class="packages col-12 mt-2 ">
        <div class="package mt-4">
            <div class="content">
                <div class="header">
                    <h4 class="title">
                        {{'index.packages.options.0.title' | translate}}
                    </h4>
                    <div class="price">
                        <span class="number">{{'index.packages.options.0.cost.number' | translate}}</span>
                        <span class="symbol">{{'index.packages.options.0.cost.symbol' | translate}}</span>
                    </div>
                </div>

                <ul class="items">
                    <li class="item"><arrow></arrow>{{'index.packages.options.0.items.0' | translate}}</li>
                    <li class="item"><arrow></arrow>{{'index.packages.options.0.items.1' | translate}}</li>
                    <li class="item"><arrow></arrow>{{'index.packages.options.0.items.2' | translate}}</li>
                    <li class="item"><arrow></arrow>{{'index.packages.options.0.items.3' | translate}}</li>
                    <li class="item"><arrow></arrow>{{'index.packages.options.0.items.4' | translate}}</li>
                </ul>
                
                <div class="footer">
                    <div class="contact">
                        {{'index.packages.contact' | translate}}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="package">
            <div class="content top">
                <img class="top-icon" src="assets/ribbon_blue_right_top.png">
                <div class="header">
                    <h4 class="title">
                        {{'index.packages.options.1.title' | translate}}
                    </h4>
                    <div class="price">
                        <span class="number">{{'index.packages.options.1.cost.number' | translate}}</span>
                        <span class="symbol">{{'index.packages.options.1.cost.symbol' | translate}}</span>
                    </div>
                </div>

                <ul class="items">
                    <li class="item"><arrow></arrow>{{'index.packages.options.1.items.0' | translate}}</li>
                    <li class="item"><arrow></arrow>{{'index.packages.options.1.items.1' | translate}}</li>
                    <li class="item"><arrow></arrow>{{'index.packages.options.1.items.2' | translate}}</li>
                    <li class="item"><arrow></arrow>{{'index.packages.options.1.items.3' | translate}}</li>
                    <li class="item"><arrow></arrow>{{'index.packages.options.1.items.4' | translate}}</li>
                    <li class="item"><arrow></arrow>{{'index.packages.options.1.items.5' | translate}}</li>
                    <li class="item"><arrow></arrow>{{'index.packages.options.1.items.6' | translate}}</li>
                </ul>
                
                <div class="footer">
                    <div class="contact">
                        {{'index.packages.contact' | translate}}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="package mt-4">
            <div class="content">
                <div class="header">
                    <h4 class="title">
                        {{'index.packages.options.2.title' | translate}}
                    </h4>
                    <div class="price">
                        <span class="number">{{'index.packages.options.2.cost.number' | translate}}</span>
                        <span class="symbol">{{'index.packages.options.2.cost.symbol' | translate}}</span>
                    </div>
                </div>

                <ul class="items">
                    <li class="item"><arrow></arrow>{{'index.packages.options.2.items.0' | translate}}</li>
                    <li class="item"><arrow></arrow>{{'index.packages.options.2.items.1' | translate}}</li>
                    <li class="item"><arrow></arrow>{{'index.packages.options.2.items.2' | translate}}</li>
                    <li class="item"><arrow></arrow>{{'index.packages.options.2.items.3' | translate}}</li>
                    <li class="item"><arrow></arrow>{{'index.packages.options.2.items.4' | translate}}</li>
                </ul>
                
                <div class="footer">
                    <div class="contact">
                        {{'index.packages.contact' | translate}}
                    </div>
                </div>
            </div>
        </div>
    </section>
  </div>
</section>