<section class="float-left title-service col-12 p-0">
    <div class="gradient float-left col-12 p-0">
        <div class="container text-center">
            <h1 class="title-package col-12 text-center">
                {{'index.alquiler.title' | translate}}
            </h1>
            <img class="d-inline-block" src="/assets/line-box.png">
            <p class="description text-light">
                {{'index.alquiler.text1' | translate}}
            </p>
            
        </div>
    </div>
</section>


<div class="clearfix pt-5"></div>


<section class="parrafo col-12 p-0">
    <div class="container text-left">
        <h3 class="title-package col-12 pl-0 text-left">
            {{'index.alquiler.title2' | translate}}
        </h3>
        <img class="d-inline-block" src="/assets/line-box-simple.png">

        <p>
            {{'index.alquiler.text2.p1' | translate}}
        </p>
        <ul>
            <li>{{'index.alquiler.text2.items.0' | translate}}</li>
            <li>{{'index.alquiler.text2.items.1' | translate}}</li>
        </ul>
        <p>
            {{'index.alquiler.text2.p2' | translate}}
        </p>
        <p>
            {{'index.alquiler.text2.p3' | translate}}
        </p>
        <p>
            {{'index.alquiler.text2.p4' | translate}}
        </p>
        <p>
            {{'index.alquiler.text2.p5' | translate}}
        </p>

    </div>
</section>



<section class="parrafo col-12 ">
    <div class="container text-left">
        <h3 class="title-package col-12 pl-0 text-left">
            {{'index.alquiler.title3' | translate}}
        </h3>
        <img class="d-inline-block" src="/assets/line-box-simple.png">

        <p>
            {{'index.alquiler.text3.p1' | translate}}
        </p>
        <ul>
            <li><b>{{'index.alquiler.text3.items.0.title' | translate}}:</b> {{'index.alquiler.text3.items.0.text' | translate}}</li>
            <li><b>{{'index.alquiler.text3.items.1.title' | translate}}:</b> {{'index.alquiler.text3.items.1.text' | translate}}</li>
            <li><b>{{'index.alquiler.text3.items.2.title' | translate}}:</b> {{'index.alquiler.text3.items.2.text' | translate}}</li>
            <li><b>{{'index.alquiler.text3.items.3.title' | translate}}:</b> {{'index.alquiler.text3.items.3.text' | translate}}</li>
            <li><b>{{'index.alquiler.text3.items.4.title' | translate}}:</b> {{'index.alquiler.text3.items.4.text' | translate}}</li>
            <li><b>{{'index.alquiler.text3.items.5.title' | translate}}:</b> {{'index.alquiler.text3.items.5.text' | translate}}</li>
            <li><b>{{'index.alquiler.text3.items.6.title' | translate}}:</b> {{'index.alquiler.text3.items.6.text' | translate}}</li>
        </ul>
    </div>

</section>

<section class="parrafo col-12 text-center mt-5 pt-5">
    <button [routerLink]="['../contact']" type="button" class="btn btn-primary">{{'index.packages.contact' | translate}}</button>
</section>



<div class="clearfix pt-5"></div>