<section class="float-left title-service col-12 p-0">
    <div class="gradient float-left col-12 p-0">
        <div class="container text-center">
            <h1 class="title-package col-12 text-center scroll-reveal-100">
                {{'about.title' | translate}}
            </h1>
            <img class="d-inline-block mb-3 mb-md-5" src="/assets/line-box.png">
            
        </div>
    </div>
</section>


<div class="clearfix pt-5"></div>


<section class="parrafo col-12 p-0  scroll-reveal-300">
    <div class="container text-left">
        <h3 class="title-package col-12 pl-0 text-left">
            {{'about.who.title' | translate}}
        </h3>
        <img class="d-inline-block pb-2" src="/assets/line-box-simple.png">

        <p>
            {{'about.who.p1' | translate}}
        </p>
        <p>
            {{'about.who.p2' | translate}}
        </p>
        <p>
            {{'about.who.p3' | translate}}
        </p>
        <p>
            {{'about.who.p4' | translate}}
        </p>

    </div>
</section>



<section class="parrafo col-12  scroll-reveal-300">
    <div class="container text-left">
        <h3 class="title-package col-12 pl-0 text-left">
            {{'about.why.title' | translate}}
        </h3>
        <img class="d-inline-block pb-2" src="/assets/line-box-simple.png">
        <p>
            {{'about.why.p1' | translate}}
        </p>
        <p>
            {{'about.why.p2' | translate}}
        </p>
        <p>
            {{'about.why.p4' | translate}}
        </p>
        <p>
            {{'about.why.p5' | translate}}
        </p>
    </div>

</section>



<div class="clearfix pt-5"></div>