<section class="float-left title-service col-12 p-0">
    <div class="gradient float-left col-12 p-0">
        <div class="container text-center">
            <h1 class="title-package col-12 text-center scroll-reveal-100">
                {{'extras.clean.title' | translate}}
            </h1>
            <img class="d-inline-block" src="/assets/line-box.png">
            <p class="description text-light scroll-reveal-150">
                {{'extras.clean.subtitle' | translate}}
            </p>
            
        </div>
    </div>
</section>


<div class="clearfix pt-5"></div>


<section class="data col-12 float-left scroll-reveal-300">
    <div class="container text-center">
        <div class="col-12 col-md-7 pl-0 pl-md-5 float-right text-left">
            <ul class="items col-12 col-md-12 float-left pl-3 pl-md-3">
                <li class="item"><check></check>{{'extras.clean.items.0' | translate}}</li>
                <li class="item"><check></check>{{'extras.clean.items.1' | translate}}</li>
                <li class="item"><check></check>{{'extras.clean.items.2' | translate}}</li>
                <li class="item"><check></check>{{'extras.clean.items.3' | translate}}</li>
                <li class="item"><check></check>{{'extras.clean.items.4' | translate}}</li>
            </ul>
        </div>
        <div class="extra col-12 col-md-4 float-left float-md-right">
            <div class="price col-12">
                <p><arrow></arrow>{{'extras.clean.cost.0' | translate}}: <b>22,50€</b></p>
                <p><arrow></arrow>{{'extras.clean.cost.1' | translate}}</p>
                <p>{{'extras.clean.cost.2' | translate}}</p>

            </div>
            <div class="clearfix"></div>
            <button [routerLink]="['../contact']" type="button" class="contact" data-toggle="modal" data-target="#exampleModalCenter">
                {{'extras.clean.contact' | translate}}
            </button>
        </div>
    </div>
</section>


<section class="parrafo col-12 p-0 mt-5 mb-3">
    <div class="container text-center">
        <small>
            *{{'extras.clean.text' | translate}}
        </small>
    </div>
</section>

<div class="clearfix pt-1 pt-md-5"></div>