<section class="float-left title-service col-12 p-0">
    <div class="gradient float-left col-12 p-0">
        <div class="container text-center">
            <h1 class="title-package col-12 text-center scroll-reveal-100">
                {{'index.packages.options.0.title' | translate}}
            </h1>
            <img class="d-inline-block" src="/assets/line-box.png">
            <p class="description text-light  scroll-reveal-150">
                {{'index.packages.options.0.description' | translate}}
            </p>
            
        </div>
    </div>
</section>

<div class="clearfix"></div>

<section class="data col-12 float-left scroll-reveal-300">
    <div class="container text-center">
        <div class="col-12 col-md-8 float-left text-center text-md-left">
            <ul class="items col-12 col-md-6 d-inline-block">
                <li class="item"><check></check>{{'index.packages.options.0.items.0' | translate}}</li>
                <li class="item"><check></check>{{'index.packages.options.0.items.1' | translate}}</li>
                <li class="item"><check></check>{{'index.packages.options.0.items.2' | translate}}</li>
                <li class="item"><check></check>{{'index.packages.options.0.items.3' | translate}}</li>
            </ul>
            <ul class="items col-12 col-md-6 d-inline-block">
                <li class="item"><check></check>{{'index.packages.options.0.items.4' | translate}}</li>
                <li class="item"><check></check>{{'index.packages.options.0.items.5' | translate}}</li>
                <li class="item"><check></check>{{'index.packages.options.0.items.6' | translate}}</li>
                <li class="item"><check></check>{{'index.packages.options.0.items.7' | translate}}</li>
            </ul>
        </div>
        <div class="extra col-12 col-md-4 float-left">
            <div class="price">
                <div class="number">{{'index.packages.options.0.cost.number' | translate}}</div>
                <div class="symbol">{{'index.packages.options.0.cost.symbol' | translate}}</div>
                <div class="unit ml-2">{{'index.packages.options.0.cost.unit' | translate}}</div>
            </div>
            <div class="clearfix"></div>
            <button [routerLink]="['../../contact']" type="button" class="contact" data-toggle="modal" data-target="#exampleModalCenter">
                {{'index.packages.contact' | translate}}
            </button>
        </div>
    </div>
</section>

<div class="clearfix"></div>

<app-additional [recoil]="'../../'"></app-additional>




<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Elegí la opción de contacto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="option option-phone">
                <i class="fas fa-mobile-alt"></i>
            </div>
            <div class="option">
                <i class="fab fa-whatsapp"></i>
            </div>
            <div class="option">
                <i class="far fa-envelope"></i>
            </div>
        </div>
      </div>
    </div>
  </div>
